@-moz-keyframes pulse {
  /* line 13, ../sass/_animations.scss */
  0% {
    opacity: 0.3;
  }

  /* line 14, ../sass/_animations.scss */
  100% {
    opacity: 0.9;
  }
}

@-webkit-keyframes pulse {
  /* line 13, ../sass/_animations.scss */
  0% {
    opacity: 0.3;
  }

  /* line 14, ../sass/_animations.scss */
  100% {
    opacity: 0.9;
  }
}

@-o-keyframes pulse {
  /* line 13, ../sass/_animations.scss */
  0% {
    opacity: 0.3;
  }

  /* line 14, ../sass/_animations.scss */
  100% {
    opacity: 0.9;
  }
}

@keyframes pulse {
  /* line 13, ../sass/_animations.scss */
  0% {
    opacity: 0.3;
  }

  /* line 14, ../sass/_animations.scss */
  100% {
    opacity: 0.9;
  }
}

@-moz-keyframes fadeInDown {
  /* line 27, ../sass/_animations.scss */
  0% {
    opacity: 0;
    -moz-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  /* line 32, ../sass/_animations.scss */
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes fadeInDown {
  /* line 27, ../sass/_animations.scss */
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  /* line 32, ../sass/_animations.scss */
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-o-keyframes fadeInDown {
  /* line 27, ../sass/_animations.scss */
  0% {
    opacity: 0;
    -o-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  /* line 32, ../sass/_animations.scss */
  100% {
    opacity: 1;
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInDown {
  /* line 27, ../sass/_animations.scss */
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  /* line 32, ../sass/_animations.scss */
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@-moz-keyframes fadeInUp {
  /* line 48, ../sass/_animations.scss */
  0% {
    opacity: 0;
    -moz-transform: translateY(20px);
    transform: translateY(20px);
  }

  /* line 53, ../sass/_animations.scss */
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes fadeInUp {
  /* line 48, ../sass/_animations.scss */
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }

  /* line 53, ../sass/_animations.scss */
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-o-keyframes fadeInUp {
  /* line 48, ../sass/_animations.scss */
  0% {
    opacity: 0;
    -o-transform: translateY(20px);
    transform: translateY(20px);
  }

  /* line 53, ../sass/_animations.scss */
  100% {
    opacity: 1;
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  /* line 48, ../sass/_animations.scss */
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  /* line 53, ../sass/_animations.scss */
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mike\/\.rvm\/gems\/ruby-1\.9\.3-p392\@thosegreenmountains\/gems\/compass-0\.13\.alpha\.4\/frameworks\/compass\/stylesheets\/compass\/typography\/_vertical_rhythm\.scss}line{font-family:\00003105}}
html {
  font-size: 100%;
  line-height: 1.6875em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mike\/Github\/thosegreenmountains\/thosegreenmountains\.github\.com\/sass\/base\.scss}line{font-family:\0000313}}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mike\/Github\/thosegreenmountains\/thosegreenmountains\.github\.com\/sass\/base\.scss}line{font-family:\0000317}}
html, body {
  margin: 0 auto;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mike\/Github\/thosegreenmountains\/thosegreenmountains\.github\.com\/sass\/base\.scss}line{font-family:\0000322}}
body {
  font-family: 'Cutive', serif;
  background-color: #9dd8ff;
  -webkit-font-smoothing: antialiased;
  -webkit-transition: 0.25s opacity ease;
  -moz-transition: 0.25s opacity ease;
  -o-transition: 0.25s opacity ease;
  transition: 0.25s opacity ease;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mike\/Github\/thosegreenmountains\/thosegreenmountains\.github\.com\/sass\/base\.scss}line{font-family:\0000329}}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mike\/Github\/thosegreenmountains\/thosegreenmountains\.github\.com\/sass\/base\.scss}line{font-family:\0000334}}
p {
  margin: 0;
  margin-bottom: 1.6875em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mike\/Github\/thosegreenmountains\/thosegreenmountains\.github\.com\/sass\/base\.scss}line{font-family:\0000339}}
a {
  color: #404040;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mike\/\.rvm\/gems\/ruby-1\.9\.3-p392\@thosegreenmountains\/gems\/compass-0\.13\.alpha\.4\/frameworks\/compass\/stylesheets\/compass\/typography\/links\/_link-colors\.scss}line{font-family:\0000324}}
a:hover {
  color: #4d4d4d;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mike\/Github\/thosegreenmountains\/thosegreenmountains\.github\.com\/sass\/base\.scss}line{font-family:\0000343}}
.enhanced-text {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mike\/Github\/thosegreenmountains\/thosegreenmountains\.github\.com\/sass\/base\.scss}line{font-family:\0000353}}
#header h1 {
  margin: -297px auto 0;
  width: 200px;
  height: 564px;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('/images/logo.svg?1368676053');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-position: center bottom;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mike\/Github\/thosegreenmountains\/thosegreenmountains\.github\.com\/sass\/base\.scss}line{font-family:\0000363}}
.preload {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 9000;
  background-color: #9dd8ff;
  cursor: default;
  font-size: 1em;
  line-height: 1.6875em;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: 1s opacity ease;
  -moz-transition: 1s opacity ease;
  -o-transition: 1s opacity ease;
  transition: 1s opacity ease;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mike\/Github\/thosegreenmountains\/thosegreenmountains\.github\.com\/sass\/base\.scss}line{font-family:\0000377}}
.preload__text {
  font-family: 'Arial Black', arial, sans-serif;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  text-align: center;
  width: 100px;
  height: 0;
  padding-top: 110px;
  background: url('/images/preload.svg?1369199488') center top no-repeat;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mike\/Github\/thosegreenmountains\/thosegreenmountains\.github\.com\/sass\/base\.scss}line{font-family:\0000395}}
.overlay__content p:last-of-type {
  margin-bottom: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mike\/Github\/thosegreenmountains\/thosegreenmountains\.github\.com\/sass\/base\.scss}line{font-family:\00003100}}
.overlay__content ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 0.84375em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mike\/Github\/thosegreenmountains\/thosegreenmountains\.github\.com\/sass\/base\.scss}line{font-family:\00003108}}
.overlay__content li::before {
  content: '- ';
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mike\/Github\/thosegreenmountains\/thosegreenmountains\.github\.com\/sass\/base\.scss}line{font-family:\00003111}}
.overlay__content img {
  display: block;
  margin: 0 auto;
}
