@-moz-keyframes pulse {
  /* line 13, ../sass/_animations.scss */
  0% {
    opacity: 0.3;
  }

  /* line 14, ../sass/_animations.scss */
  100% {
    opacity: 0.9;
  }
}

@-webkit-keyframes pulse {
  /* line 13, ../sass/_animations.scss */
  0% {
    opacity: 0.3;
  }

  /* line 14, ../sass/_animations.scss */
  100% {
    opacity: 0.9;
  }
}

@-o-keyframes pulse {
  /* line 13, ../sass/_animations.scss */
  0% {
    opacity: 0.3;
  }

  /* line 14, ../sass/_animations.scss */
  100% {
    opacity: 0.9;
  }
}

@keyframes pulse {
  /* line 13, ../sass/_animations.scss */
  0% {
    opacity: 0.3;
  }

  /* line 14, ../sass/_animations.scss */
  100% {
    opacity: 0.9;
  }
}

@-moz-keyframes fadeInDown {
  /* line 27, ../sass/_animations.scss */
  0% {
    opacity: 0;
    -moz-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  /* line 32, ../sass/_animations.scss */
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes fadeInDown {
  /* line 27, ../sass/_animations.scss */
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  /* line 32, ../sass/_animations.scss */
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-o-keyframes fadeInDown {
  /* line 27, ../sass/_animations.scss */
  0% {
    opacity: 0;
    -o-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  /* line 32, ../sass/_animations.scss */
  100% {
    opacity: 1;
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInDown {
  /* line 27, ../sass/_animations.scss */
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  /* line 32, ../sass/_animations.scss */
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@-moz-keyframes fadeInUp {
  /* line 48, ../sass/_animations.scss */
  0% {
    opacity: 0;
    -moz-transform: translateY(20px);
    transform: translateY(20px);
  }

  /* line 53, ../sass/_animations.scss */
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes fadeInUp {
  /* line 48, ../sass/_animations.scss */
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }

  /* line 53, ../sass/_animations.scss */
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-o-keyframes fadeInUp {
  /* line 48, ../sass/_animations.scss */
  0% {
    opacity: 0;
    -o-transform: translateY(20px);
    transform: translateY(20px);
  }

  /* line 53, ../sass/_animations.scss */
  100% {
    opacity: 1;
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  /* line 48, ../sass/_animations.scss */
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  /* line 53, ../sass/_animations.scss */
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mike\/Github\/thosegreenmountains\/thosegreenmountains\.github\.com\/sass\/_config\.scss}line{font-family:\0000368}}
.details__heading span {
  height: 0;
  width: 0;
  margin: 0;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mike\/\.rvm\/gems\/ruby-1\.9\.3-p392\@thosegreenmountains\/gems\/compass-0\.13\.alpha\.4\/frameworks\/compass\/stylesheets\/compass\/typography\/_vertical_rhythm\.scss}line{font-family:\00003105}}
html {
  font-size: 100%;
  line-height: 1.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mike\/Github\/thosegreenmountains\/thosegreenmountains\.github\.com\/sass\/simple\.scss}line{font-family:\0000318}}
html {
  background: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mike\/Github\/thosegreenmountains\/thosegreenmountains\.github\.com\/sass\/simple\.scss}line{font-family:\0000322}}
body {
  color: white;
  padding: 0 20px;
  background-color: #9dd8ff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mike\/Github\/thosegreenmountains\/thosegreenmountains\.github\.com\/sass\/simple\.scss}line{font-family:\0000328}}
a {
  color: white;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mike\/Github\/thosegreenmountains\/thosegreenmountains\.github\.com\/sass\/simple\.scss}line{font-family:\0000332}}
#mountains {
  position: relative;
  z-index: 1;
  overflow: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mike\/Github\/thosegreenmountains\/thosegreenmountains\.github\.com\/sass\/simple\.scss}line{font-family:\0000339}}
#header h1 {
  width: 180px;
  height: 529px;
  margin-top: -200px;
  background-size: contain;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mike\/Github\/thosegreenmountains\/thosegreenmountains\.github\.com\/sass\/simple\.scss}line{font-family:\0000349}}
#navigation {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mike\/Github\/thosegreenmountains\/thosegreenmountains\.github\.com\/sass\/simple\.scss}line{font-family:\0000354}}
.intro {
  max-width: 500px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  color: white;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mike\/Github\/thosegreenmountains\/thosegreenmountains\.github\.com\/sass\/simple\.scss}line{font-family:\0000365}}
.progress {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mike\/Github\/thosegreenmountains\/thosegreenmountains\.github\.com\/sass\/simple\.scss}line{font-family:\0000370}}
.overlay__hide {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mike\/Github\/thosegreenmountains\/thosegreenmountains\.github\.com\/sass\/simple\.scss}line{font-family:\0000377}}
.details:first-child {
  border-top: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mike\/Github\/thosegreenmountains\/thosegreenmountains\.github\.com\/sass\/simple\.scss}line{font-family:\0000382}}
.details__content {
  background: rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 10px;
  max-width: 400px;
  margin: 0 auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mike\/Github\/thosegreenmountains\/thosegreenmountains\.github\.com\/sass\/simple\.scss}line{font-family:\0000389}}
.details__content :first-child {
  margin-top: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mike\/Github\/thosegreenmountains\/thosegreenmountains\.github\.com\/sass\/simple\.scss}line{font-family:\0000392}}
.details__content :last-child {
  margin-bottom: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mike\/Github\/thosegreenmountains\/thosegreenmountains\.github\.com\/sass\/simple\.scss}line{font-family:\0000398}}
.details__heading {
  margin-top: 0;
  margin-right: -20px;
  margin-left: -20px;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mike\/Github\/thosegreenmountains\/thosegreenmountains\.github\.com\/sass\/simple\.scss}line{font-family:\00003108}}
.details__heading img {
  width: 100%;
  max-width: 300px;
  display: block;
  margin: 0 auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mike\/Github\/thosegreenmountains\/thosegreenmountains\.github\.com\/sass\/simple\.scss}line{font-family:\00003115}}
.details__heading span {
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mike\/Github\/thosegreenmountains\/thosegreenmountains\.github\.com\/sass\/simple\.scss}line{font-family:\00003124}}
.overlay__content {
  position: relative;
  z-index: 1;
  border-top: 2px solid white;
  overflow: hidden;
  margin-top: 1.5em;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mike\/Github\/thosegreenmountains\/thosegreenmountains\.github\.com\/sass\/simple\.scss}line{font-family:\00003136}}
#bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url('/images/mobile-bg.jpg?1368909159') center center no-repeat;
  background-size: cover;
}
