@mixin absolute-center($dimensions) {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -(nth($dimensions, 1)/2);
  margin-left: -(nth($dimensions, 2)/2);
}

@mixin respond-to($size) {
  @if $size == 'mobile' {
    [data-layout="mobile"] & {
      @content
    }
  }
  @if $size == 'full' {
    [data-layout="full"] & {
      @content
    }
  }
}