//////////////////////////////////////
// Config
//////////////////////////////////////

@import 'config';

//////////////////////////////////////
// Global
//////////////////////////////////////

@include establish-baseline;

* {
  @include box-sizing(border-box);
}

html, body {
  margin: 0 auto;
  padding: 0;
}

body {
  font-family: 'Cutive', serif;
  -webkit-font-smoothing: antialiased;
  @include transition-property(background);
  @include transition-duration(0.25s);
  @include transition-timing-function(ease);

  .is-loading & {
    background-color: rgb(157, 216, 255);
  }
}

#{headings()} {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
}

p {
  margin: 0;
  @include trailer;
}

a {
  @include link-colors(lighten(#333, 5%), lighten(#333, 10%));
}

.enhanced-text {
  display: none;
}

//////////////////////////////////////
// COMMON LAYOUT
//////////////////////////////////////

#wrapper {

  @include transition-property(opacity, visibility);
  @include transition-duration(1s, 0s);
  @include transition-timing-function(ease);

  // Disable any sort of transitions on elements inside
  // the wrapper until we explitly say it's OK (by removing
  // the class).
  * {
    .is-loading & {
      -webkit-transition: none !important;
      -moz-transition: none !important;
      -ms-transition: none !important;
      -o-transition: none !important;
      transition: none !important;
    }
  }
  
  // Make sure the wrapper isn't initially visible. We remove
  // this class to fade it in once we're ready.
  &.is-transparent {
    opacity: 0;
    visibility: hidden;
  }

}

#header {

  h1 {
    margin: -297px auto 0;
    width: 200px;
    height: 564px;
    @include replace-text('logo.svg');
    background-position: center bottom;
  }

}

.preload {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 9000;
  background-color: rgb(157, 216, 255);
  cursor: default;
  @include adjust-font-size-to(16px);
  @include user-select(none);
}

.preload__graphic {
  @extend %pulse;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -($preload-image-size / 2);
  margin-left: -($preload-image-size / 2);
  width: $preload-image-size;
  height: 0;
  padding-top: $preload-image-size + 10px;
  @include background(image-url($preload-image) center top no-repeat);
}

.overlay__content {

  p {
    &:last-of-type {
      margin-bottom: 0;
    }
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    @include trailer(0.5);
  }

  li {
    &::before { content: '- '; }
  }

  img {
    display: block;
    margin: 0 auto;
  }

}

@import 'simple';
@import 'enhanced';