//////////////////////////////////////
// ENHANCED LAYOUT
//////////////////////////////////////

@import 'base';
@include establish-baseline;

body {
  background: #f1f1f1;
}

.enhanced-text {
  display: inline;
}

#wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;

  @include background(
    url('data:image/png;base64,#{$noise}'),
    linear-gradient($body-gradient)
  );
}
// Logomark

body::after {
  content: '';
  display: block;
  margin: 0;
  position: absolute;
  top: 0;
  left: 5%;
  width: $logo-small-width;
  height: 140px;
  opacity: 0;
  @include replace-text('logo.svg', 0, bottom);
  @include background-size(cover);
}

//////////////////////////////////////
// CONTAINER
//////////////////////////////////////

#mountains {
  position: absolute;
  width: 100%;
  // min-width: 900px;
  height: 100%;
  top: 0;
  left: 0;
  overflow: visible;
  z-index: 5;
  @include transition-property(opacity top height);
  @include transition-duration(2s 3s 1s);
  @include transition-timing-function(ease-in-out);
  @include transition-delay(0 1s 0);
}

// Global Slide Options

.level,
.slide {
  // display: none;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  @include transform-style(preserve-3d);
  @include transition-property(opacity transform);
  @include transition-duration(1s);
  @include transition-timing-function(cubic-bezier(0.260, 0.860, 0.440, 0.985));
  @include backface-visibility(hidden);
}

// Levels

.level {

  &.present {
    display: block;
    opacity: 1;
    @include transform(translate(0, 0));
  }

  &.past {
    display: block;
    opacity: 0;
    @include transform(translate(0, -100%));
  }

  &.future {
    display: block;
    opacity: 0;
    @include transform(translate(0, 100%));
  }

  .slide {

    &.present {
      display: block;
      opacity: 1;
    }

  }

}

// Slides

.slide {

  > img {
    margin: 20px;
  }

  &.past {
    display: block;
    opacity: 0;
    @include transform(translate(-100%, 0));
  }

  &.future {
    display: block;
    opacity: 0;
    @include transform(translate(100%, 0));
  }

  > section {

    &.present {
      display: block;
      opacity: 1;
    }

  }

}

// Sections

.slide > section {

  text-align: left;
  min-height: 300px;

  &.past {
    display: block;
    opacity: 0;
    @include transform(translate(-100%, 0));
  }

  &.future {
    display: block;
    opacity: 0;
    @include transform(translate(100%, 0));
  }

}

//////////////////////////////////////
// HEADER
//////////////////////////////////////

#header {

  h1 {
    @extend %fadeInDown;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -o-animation-delay: 1s;
    animation-delay: 1s;
  }

}

.intro {
  @extend %fadeInUp;
  width: $intro-width;
  max-width: 90%;
  margin: 0 auto;
  position: absolute;
  bottom: ($nav-arrow-edge-offset * 2) + $nav-arrow-size;
  left: 50%;
  margin-left: -($intro-width/2);
  color: white;
  cursor: default;
  -webkit-user-select: none;
  user-select: none;
  -webkit-animation-delay: 3s;
  -moz-animation-delay: 3s;
  -o-animation-delay: 3s;
  animation-delay: 3s;

  a { @include link-colors(white, #ddd); }

}

.intro__heading {
  text-align: center;
  font-weight: bold;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
  @include adjust-font-size-to(28px, 1.5);
}

.intro__navigation {
  margin: 0 auto;
  text-align: center;
  width: 420px;
  white-space: pre-wrap;
  @include adjust-font-size-to(14px);
}

//////////////////////////////////////
// Navigation
//////////////////////////////////////

#navigation {

  h1, span {
    @extend %hide;
    display: block;
  }

  a {
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
    cursor: default;
  }

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -200px;
    margin-top: -200px;
  }

  .slide {
    padding-bottom: $progress-bar-height;
  }

}

//////////////////////////////////////
// DETAIL SLIDES
//////////////////////////////////////

.details {
  max-height: 100%;
  overflow-y: auto;
  padding-top: ($nav-arrow-edge-offset * 2) + $nav-arrow-size;
  padding-bottom: $progress-bar-height;
  color: white;
}

.details__wrapper {
  padding: 40px;
  width: 90%;
  max-width: 700px;
  min-height: 100%;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.2);
  @include box-shadow(inset 0 0 20px -3px rgba(0, 0, 0, 0.2));
}

.details__heading {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  text-align: left;
  text-transform: uppercase;
  margin-top: 0;
  margin: 0;
  @include adjust-font-size-to(44px);

  img {
    display: inline-block;
    vertical-align: middle;
    margin-right: rhythm(0.25);
  }
}

.details__content {
  height: 100%;
  @include padding-leader(1);
}

//////////////////////////////////////
// INFO OVERLAY
//////////////////////////////////////

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  z-index: 100;
}

.overlay__content {
  display: none;
  position: absolute;
  overflow: hidden;
  width: 600px;
  margin-left: -300px;
  top: 10%;
  bottom: 10%;
  left: 50%;
  background: white;
  z-index: 200;
  color: #666;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  @include adjust-font-size-to(14px, 1.1);

  &::before,
  &::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
  }

  &::after {
    height: 20px;
    bottom: 0;
    // background: black;
    @include background(linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)));
  }

}

.overlay__content-container {
  overflow-y: scroll;
  max-height: 100%;
  padding: 40px;
  -webkit-overflow-scrolling: touch;
}

.overlay__hide {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  right: 0;
  font-size: 15px;
  text-align: center;
  line-height: 18px;
  font-family: sans-serif;
  font-style: normal;
  cursor: pointer;
  color: #ccc;

  &:hover {
    color: #333;
  }
}

//////////////////////////////////////
// BACKGROUNDS
//////////////////////////////////////

.bg {
  
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  text-indent: -150%;
  
  * {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 0;
    background-position: center top;
    background-repeat: no-repeat;
    @include transition-property(opacity);
    @include transition-timing-function(cubic-bezier(0.260, 0.860, 0.440, 0.985));
    @include transition-duration(6s);
  }

  // Horizontal levels

  &[data-level-h="2"] {
    .bg__back { left: -9%; }
    .bg__mid { left: -3%; }
  }
  &[data-level-h="3"] {
    .bg__back { left: -10%; }
    .bg__mid { left: -6%; }
  }
  &[data-level-h="4"] {
    .bg__back { left: -11%; }
    .bg__mid { left: -9%; }
  }
  &[data-level-h="5"] {
    .bg__back { left: -12%; }
    .bg__mid { left: -12%; }
  }
  &[data-level-h="6"] {
    .bg__back { left: -13%; }
    .bg__mid { left: -15%; }
  }
  &[data-level-h="7"] {
    .bg__back { left: -14%; }
    .bg__mid { left: -18%; }
  }
  &[data-level-h="8"] {
    .bg__back { left: -15%; } 
    .bg__mid { left: -21%; }
  }

  &[data-level-h="2"] {
    .bg__back { @include translateX(-9%); }
    .bg__mid { @include translateX(-3%); }
  }
  &[data-level-h="3"] {
    .bg__back { @include translateX(-10%); }
    .bg__mid { @include translateX(-6%); }
  }
  &[data-level-h="4"] {
    .bg__back { @include translateX(-11%); }
    .bg__mid { @include translateX(-9%); }
  }
  &[data-level-h="5"] {
    .bg__back { @include translateX(-12%); }
    .bg__mid { @include translateX(-12%); }
  }
  &[data-level-h="6"] {
    .bg__back { @include translateX(-13%); }
    .bg__mid { @include translateX(-15%); }
  }
  &[data-level-h="7"] {
    .bg__back { @include translateX(-14%); }
    .bg__mid { @include translateX(-18%); }
  }
  &[data-level-h="8"] {
    .bg__back { @include translateX(-15%); } 
    .bg__mid { @include translateX(-21%); }
  }

}

.bg__back {
  z-index: 1;
  height: image-height('bg/back.png');
  background-image: image-url('bg/back.png');
  background-size: cover;
  opacity: 0.4;
  width: 116%;
  left: -8%;
}

.bg__mid {
  z-index: 2;
  height: image-height('bg/mid.png');
  background-image: image-url('bg/mid.png');
  background-size: cover;
  opacity: 0.6;
  width: 121%;
  left: 0%;
}

.bg__fore {
  z-index: 3;
  height: image-height('bg/fore.png');
  background-image: image-url('bg/fore.png');
  background-size: cover;
  opacity: 0.7;
}

//////////////////////////////////////
// PROGRESS
//////////////////////////////////////

.progress {

  position: absolute;
  bottom: -$progress-bar-height;
  left: 0;
  width: 100%;
  background: white;
  opacity: 1;
  z-index: 20;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    float: right;
    width: $progress-bar-nav-width;
    height: 100%;
    overflow: hidden;
  }

  li {
    text-align: center;
    display: inline-block;
    width: 100%;
    height: $progress-bar-height;
    margin-right: -4px;
    vertical-align: middle;
    position: relative;
    border-left: 1px solid #b2b2b3;
  }

  a, span {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: #6d6e70;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    @include adjust-font-size-to(18px, $progress-bar-line-height);

    &:hover {
      background: #fafafa;
    }
  }

}

.nav-arrow__up {
  left: 50%;
  top: $nav-arrow-edge-offset;
  margin-left: $nav-arrow-size / -2;
  @include background(image-url('arrow-up.svg') center center no-repeat);

  &:hover {
    margin-top: -1px;
  }
  &:active {
    margin-right: -1px;
  }
}

.nav-arrow__right {
  right: $nav-arrow-edge-offset;
  top: 50%;
  margin-top: $nav-arrow-size / -2;
  @include background(image-url('arrow-right.svg') center center no-repeat);

  &:hover {
    margin-right: -1px;
  }
  &:active {
    margin-bottom: -1px;
  }
}

.nav-arrow__down {
  bottom: $nav-arrow-edge-offset;
  left: 50%;
  margin-left: $nav-arrow-size / -2;
  @include background(image-url('arrow-down.svg') center center no-repeat);

  &:hover {
    margin-bottom: -1px;
  }
  &:active {
    margin-right: -1px;
  }
}

.nav-arrow__left {
  left: $nav-arrow-edge-offset;
  top: 50%;
  margin-top: $nav-arrow-size / -2;
  @include background(image-url('arrow-left.svg') center center no-repeat);

  &:hover {
    margin-left: -1px;
  }
  &:active {
    margin-bottom: -1px;
  }
}

.nav-arrow__up,
.nav-arrow__right,
.nav-arrow__down,
.nav-arrow__left {
  position: absolute;
  display: block;
  width: $nav-arrow-size;
  height: $nav-arrow-size;
  cursor: pointer;
  z-index: 30;
  opacity: 0;
  @include transition-property(opacity top bottom);
  @include transition-duration(1s);
  @include transition-timing-function(ease);
  @include background-size(cover);
}

.profile {
  position: relative;
  margin-right: $progress-bar-nav-width;
  height: $progress-bar-height;
  background: #ddd;
}

.profile__bg {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 80% !important;
}

.profile__indicator {
  position: absolute;
  height: 100%;
  background: #B3B3B3;
  opacity: 0.6;
  z-index: 10;
  @include transition-property(left);
  @include transition-duration(1s);
  @include transition-timing-function(ease);
}

//////////////////////////////////////
// Application State
//////////////////////////////////////

.is-loading {
  
  .bg {
    * { @include transition(none); }
  }
  
  .bg__back,
  .bg__mid,
  .bg__fore {
    opacity: 0 !important;
  }

  .progress {
    @include transition(none);
  }

}

.is-animated {
  
  .bg { 
    
    * {
      @include transition-property(transform opacity left);
      @include transition-duration(1s);
    }

  }
    
  .bg__back {
    @include transition-duration(1.5s);
  }
  
  .bg__mid {
    @include transition-duration(1.25s);
  }

  .bg__fore {
    @include transition-duration(1s);
  }

  .progress {
    @include transition-property(bottom);
    @include transition-duration(0.5s);
    @include transition-timing-function(ease-in-out);
  }

}

.has-profile-bar {
  .progress {
    bottom: 0;
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.2);
  }
  .nav-arrow__down {
    bottom: $progress-bar-height + $nav-arrow-edge-offset;
  }
}

// Responsive

@media only screen and (max-height: 1440px) and (max-width: 2560px) {
  
  // Adjust vertical position of intro text
  // and intro arrow

  .intro {
    bottom: 35%;
  }

  .nav-arrow__down {
    bottom: 30%;
  }

  // Adjust background positions

  .bg {
    
    &[data-level-v="1"] {
      .bg__back { @include transform(translate(0, 0%)); }
      .bg__mid  { @include transform(translate(0, 30%)); }
      .bg__fore { @include transform(translate(0, 99%)); }
    }

    &[data-level-v="2"] {
      .bg__back { @include transform(translate(0, 5%)); }
      .bg__mid  { @include transform(translate(0, 15%)); }
      .bg__fore { @include transform(translate(0, 99%)); }
    }

    &[data-level-v="3"]{
      .bg__back { @include transform(translate(0, 8%)); }
      .bg__mid  { @include transform(translate(0, 8%)); }
      .bg__fore { @include transform(translate(0, 0%)); }
    }

  }

}

@media only screen and (max-height: 1080px) and (max-width: 1920px) {
  
  // Adjust vertical position of intro text
  // and intro arrow

  .intro {
    bottom: 24%;
  }

  .nav-arrow__down {
    bottom: 16%;
  }

  // Adjust background positions

  .bg {
    
    &[data-level-v="1"] {
      .bg__back { @include transform(translate(0, 25%)); }
      .bg__mid  { @include transform(translate(0, 40%)); }
      .bg__fore { @include transform(translate(0, 99%)); }
    }

    &[data-level-v="2"] {
      .bg__back { @include transform(translate(0, 27%)); }
      .bg__mid  { @include transform(translate(0, 30%)); }
      .bg__fore { @include transform(translate(0, 99%)); }
    }

    &[data-level-v="3"]{
      .bg__back { @include transform(translate(0, 28%)); }
      .bg__mid  { @include transform(translate(0, 22%)); }
      .bg__fore { @include transform(translate(0, 25%)); }
    }

  }

}

@media only screen and (max-height: 1024px) and (max-width: 1280px) {
  
  .bg {
    
    &[data-level-v="1"] {
      .bg__back { @include transform(translate(0, 38%)); }
      .bg__mid  { @include transform(translate(0, 70%)); }
      .bg__fore { @include transform(translate(0, 99%)); }
    }

    &[data-level-v="2"] {
      .bg__back { @include transform(translate(0, 40%)); }
      .bg__mid  { @include transform(translate(0, 30%)); }
      .bg__fore { @include transform(translate(0, 99%)); }
    }

    &[data-level-v="3"]{
      .bg__back { @include transform(translate(0, 41%)); }
      .bg__mid  { @include transform(translate(0, 28%)); }
      .bg__fore { @include transform(translate(0, 30%)); }
    }

  }

}

@media only screen and (max-height: 768px) and (max-width: 1024px) {
  
  .bg {
    
    &[data-level-v="1"] {
      .bg__back { @include transform(translate(0, 52%)); }
      .bg__mid  { @include transform(translate(0, 78%)); }
      .bg__fore { @include transform(translate(0, 99%)); }
    }

    &[data-level-v="2"] {
      .bg__back { @include transform(translate(0, 54%)); }
      .bg__mid  { @include transform(translate(0, 55%)); }
      .bg__fore { @include transform(translate(0, 99%)); }
    }

    &[data-level-v="3"]{
      .bg__back { @include transform(translate(0, 55%)); }
      .bg__mid  { @include transform(translate(0, 45%)); }
      .bg__fore { @include transform(translate(0, 45%)); }
    }

  }

}

@media only screen and (max-width: 800px) {

  #mountains {
    font-size: 80%;
  }

  .details__wrapper {
    padding: 30px;
  }

  .details__heading {
    
    img {
      width: 80px;
      height: 80px;
    }
  }

}

@media only screen and (min-height: 1080px), only screen and (min-width: 1920px) {
  
  #wrapper {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }

}